html {
  box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

/* end of reset section */

/* end of custom classes */

.grid-1 {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 10vh);
}

.header {
  background-color: #2196F3;
  grid-column: 1/7;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: white;
}

.main {
  grid-column: 1/7;
  grid-row: 3/9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.btn1 {
  background-color: red;
  font-size: 5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.btn2 {
  background-color: orange;
  font-size: 5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.btn3 {
  background-color: green;
  font-size: 5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.footer {
  grid-column: 1/7;
  grid-row: 9/11;
  background-color: #51269c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
}

/* end of grid-1 */
/* ///////////////// */
/* start of media quries */


@media only screen and (max-width: 1024px) {
  html{
    font-size: 15px;
  }
}
/* next */

@media only screen and (max-width: 768px) {
  html{
    font-size: 12px;
  }
}
/* next */
@media only screen and (max-width: 425px) {
  html{
    font-size: 9px;
  }
  .main {
    grid-column: 1/7;
    grid-row: 3/9;
    display: flex;
flex-direction: column;
justify-content: space-between;
  }

.main *{

  height: 20vh;
}


}

/* next */
/* landscape mode */
@media only screen and (max-width: 606px) and (orientation: landscape) {
  html{
    font-size: 8px;
  }
}






  /* end */
}
